@import "core.scss";
@import "reset.scss";
@import "ui-kit.scss";

:root {
  --font: system, -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, Arial, Lucida Grande, Kohinoor Devanagari, sans-serif;
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}
html {
  font: 10px / 1.2 var(--font);
  overflow: hidden;
}

body {
  font-size: rem(16);
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  color: c(text);
  background: c(bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.app {
  display: flex;
  width: 100%;
}

.header {
  display: flex;
  min-height: rem(64);
  background: c(main-light);
  padding: rem(12) rem(16);
  gap: rem(16);
  position: sticky;
  top: 0;
  z-index: 2;
  align-items: center;
  &:not(.back) {
    justify-content: space-between;
  }
  &.back {
    font-size: rem(18);
  }
  > i {
    font-size: rem(20);
    color: c(text, 0.7);
    padding: rem(10);
    cursor: pointer;
    @include hover {
      color: c(text, 0.8);
    }
  }
}

.fade {
  animation: fadeIn 500ms forwards;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.progress {
  margin: rem(40) 0 rem(30);
  width: rem(400);
  height: rem(3);
  background: c(text, 0.2);
  position: relative;
  overflow: hidden;
  &.loaded div {
    width: 100%;
    animation: line 2s linear forwards;
  }
  div {
    position: absolute;
    left: 0;
    right: 0;
    background: c(primary-dark);
    height: 100%;
    transition: width 500ms linear;
    animation: line 7s linear forwards;
    @keyframes line {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  }
}
